<!-- Code by Kelas Programmer
Author: Setiawan Dimas Arimurti
Author URL: https://kelasprogrammer.com
License: Creative Commons Atribusi-NonKomersial 4.0 Internasional
License URL: http://creativecommons.org/licenses/by-nc/4.0/
-->
<html>
<head>
   <title>Aplikasi CRUD python Menggunakan Flask | Kelasprogrammer.com </title>
</head>
<body>
   <div class="container">
      <div class="col-sm-5">
      <h2>Tambah Data Barang</h2>
         <form action="{{ url_for('add') }}" method="post">
            <div class="form-group">
               <label>Nama Mahasiswa:</label>
               <input type="text" name="nama" class="form-control" placeholder="Masukan nama mahasiswa" required />
            </div>
            <div class="form-group">
               <label>Npm:</label>
               <input type="number" name="npm" class="form-control" placeholder="Masukan npm" required />
            </div>
            <div class="form-group">
               <label>Kelas:</label>
               <input type="text" name="kelas" class="form-control" placeholder="Masukan kelas" required />
            </div>
            <button type="submit" id="Submit" name="submit" class="btn btn-primary">Tambah</button>
      </form>
   </div>
</div>
</body>
</html>